{% extends "toolbase.html" %}
{% block title %}サイコロトーク{% endblock %}
{% block inner_content %}

<div class="container">
	<button onclick="location.href='/'" type="button" class="btn btn-secondary mb-4 pr-3 pl-3">戻る</button>
	<h1>サイコロトーク</h1>
	<div class="row pt-3">
		<button class="btn btn-primary col-3 p-3" onclick="startSlot();">スタート</button>
		<button class="btn btn-danger col-3 p-3 ml-auto" onclick="stopSlot();">ストップ</button>
	</div>
	<div class="container row pt-5">
			<div class="border border-dark rounded col-8 display-2" id="name">？？？</div>
		<div class="col-2 ml-auto d-flex">
			<div class="align-self-end">さんが</div>
		</div>
	</div>
	<div class="container row pt-5">
		<div class="border border-dark rounded col-10 display-2" id="talk">？？？？？？？</div>
	<div class="col-2 d-flex">
		<div class="align-self-end">を話します！</div>
	</div>
</div>

<script>
	var users = JSON.parse('{{ users | tojson }}');
	var talks = JSON.parse('{{ talks | tojson }}');
	var elem_name = document.getElementById("name");
	var elem_talk = document.getElementById("talk");
	var slot;

	function randomResults(){
		elem_name.innerHTML = users[Math.floor(Math.random()*users.length)];
		elem_talk.innerHTML = talks[Math.floor(Math.random()*talks.length)];
	}

	function startSlot(){
		slot = setInterval(randomResults, 50);
	}

	function stopSlot(){
		clearInterval(slot);
	}
</script>

{% endblock %}